[Unit]
Description=github-webhook-client
After=syslog.target

[Service]
User=nobody
ExecStart=/svr/github-webhook-client/github-webhook-client.jar
SuccessExitStatus=143
EnvironmentFile=/etc/default/github-webhook-client


[Install]
WantedBy=multi-user.target